<div class="col-sm-12 d-flex justify-content-center device-page">

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <h1>パスワード再発行</h1>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>

  <div class="actions">
    <%= f.submit "パスワード再発行" %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>
</div>
