
<div class="col-sm-12 label">
  <% if @pet.status == "迷子" %>
    <h2 class="status status_lost">迷子</h2>
  <% elsif @pet.status == "保護" %>
    <h2 class="status status_find">保護</h2>
  <% end %>
</div>

<div class="col-sm-12 col-md-5">
  <%= image_tag(@pet.image.url, class: "img-fluid") %>
</div>
<div class="col-sm-12 col-md-7">

  <% if user_signed_in? %>
    <% if @user.id == current_user.id %>
      <%= link_to "編集", edit_pet_path(@pet.id) %>　
      <%= link_to "削除", pet_path(@pet.id), data: { confirm: "本当に削除してもよろしいですか？" }, method: :delete %>
    <% end %>
  <% end %>

  <% if @pet.status == "迷子" %>
    <p class="name">名前：<%= @pet.name %></p>
    <p class="kind">種類：<%= @pet.kind %></p>
    <p class="kind">迷子になった日：<%= @pet.lost_day.strftime("%Y年%m月%d日") %></p>
    <p class="kind">性別：<%= @pet.lost_gender %></p>
    <p class="feature"><%= @pet.feature %></p>
  <% elsif @pet.status == "保護" %>
    <p class="kind">種類：<%= @pet.kind %></p>
    <p class="kind">保護した日：<%= @pet.find_day.strftime("%Y年%m月%d日") %></p>
    <p class="kind">性別：<%= @pet.find_gender %></p>
    <p class="feature"><%= @pet.feature %></p>
  <% end %>
</div>

<div class="col-sm-12">
  <p><div id="map"></div></p>
  <% if @pet.status == "迷子" %>
    <p>迷子になった場所：<%= @pet.area %></p>
  <% elsif @pet.status == "保護" %>
    <p><i class="material-icons-round">place</i>保護した場所：<%= @pet.area %></p>
  <% end %>

  <script type="text/javascript">
      function initMap() {

          var test ={lat: <%= @pet.latitude %>, lng: <%= @pet.longitude %>};
          var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
          });
          var transitLayer = new google.maps.TransitLayer();
          transitLayer.setMap(map);

          var contentString = '住所：<%= @pet.area %>';
          var infowindow = new google.maps.InfoWindow({
              content: contentString
          });

          var marker = new google.maps.Marker({
              position:test,
              map: map,
              title: contentString
          });

          marker.addListener('click', function() {
              infowindow.open(map, marker);
          });
      }
  </script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
  </script>

</div>

<% if user_signed_in? %>
  <div class="col-sm-12">
  <% unless @user.id == current_user.id %>
    <% if @isRoom == true %>
      <p><a href="/rooms/<%= @roomId %>" class="btn btn-info">メッセージを送る</a>
    <% else %>
      <%= form_for @room do |f| %>
        <%= fields_for @entry do |e| %>
          <%= e.hidden_field :user_id, value: @user.id %>
        <% end %>
        <%= f.submit "メッセージを送る", class: "btn btn-info" %>
      <% end %>
    <% end %>
  <% end %>
  </div>
<% end %>
