<div class="col-sm-12">
  <% if @pet.lost == true %>
    <h2>迷子</h2>
    <% else %>
    <h2>保護</h2>
  <% end %>

</div>

<div class="col-sm-12 col-md-4">
  <%= image_tag(@pet.image.url, class: "img-fluid") %>
</div>
<div class="col-sm-12 col-md-8">
  <p class="name">名前：<%= @pet.name %></p>
  <p class="kind">種類：<%= @pet.kind %></p>
  <p class="kind">迷子になった日：<%= @pet.lost_day %></p>
</div>

<div class="col-sm-12">
  <p><%= @pet.address %></p>

  <div id="map"></div>(地図を表示)
  ・・・

  <style>(地図の大きさ指定)
  #map{
    height: 150px;
    width:270px;
  }
  </style>


  <div id="map"></div>
  <style>
       #map {
       height: 500px;
       width: 70%;
      }
  </style>
  <script type="text/javascript">
      function initMap() {

          var test ={lat: <%= @pet.latitude %>, lng: <%= @pet.longitude %>};
          var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
          });
          var transitLayer = new google.maps.TransitLayer();
          transitLayer.setMap(map);

          var contentString = '住所：<%= @pet.address %>';
          var infowindow = new google.maps.InfoWindow({
              content: contentString
          });

          var marker = new google.maps.Marker({
              position:test,
              map: map,
              title: contentString
          });

          marker.addListener('click', function() {
              infowindow.open(map, marker);
          });
      }
  </script>
  <script async defer
          src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
  </script>

</div>


<div class="col-sm-12">
  <p class="kind"><%= @pet.feature %></p>
</div>

<% if user_signed_in? %>
<div class="col-sm-12">
<% if @user.id == current_user.id %>
<%= link_to "編集", edit_pet_path(@pet.id) %>

<% else %>
  <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, value: @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>
</div>
<% end %>
