<div class="col-sm-12 d-flex justify-content-center device-page">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>
  <h1>パスワードの変更</h1>

  <div class="field">
    <%= f.label :password, "新しいパスワード" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "確認用パスワード" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "パスワードを変更" %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>
